.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

// BG HOME

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.02), #06121e),
    url("https://img.freepik.com/free-photo/empty-home-production-studio-with-professional-podcasting-tools-recording-sound-streaming-sites-entertainment-show-live-broadcasting-from-cozy-location-living-room-decorated-with-purple-lights_482257-68837.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

// HERO

.hero {
  color: $white-normal;
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;

  h1 {
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 46px;
  }

  p {
    text-align: center;
    margin: 14px 0;
  }

  .button-contact {
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
  }

  .button-contact:hover {
    animation: scaleButton 0.5s alternate infinite;
  }

  @keyframes scaleButton {
    from {
      scale: (1);
    }
    to {
      scale: (1.07);
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 60dvh;

    h1 {
      font-size: 34px;
      padding: 0 14px;
      width: 100%;
    }

    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}

// ABOUT

.about {
  background-color: $primary-normal;
  overflow: hidden;
  color: $white-normal;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;

  img {
    max-width: 570px;
  }
}

.about-content div {
  flex: 1;
}

.about-description {
  h2 {
    font-size: 38px;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 14px;
    line-height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}

// SERVICES

.services {
  background-color: $white-normal;
  color: $black-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.examples {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.example {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $white-normal;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;

  img {
    width: 100%;
    max-width: 424px;
    height: 270px;
    transition: 0.3s;
  }
}

.example img:hover {
  scale: 1.2;
  z-index: 1;
}

.example-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: $white-normal;
  z-index: 99;
}

.example-info button {
  color: $white-normal;
  background-color: $red-normal;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .examples {
    flex-direction: column;
  }

  .example img {
    max-width: 740px;
  }
}

// FOOTER

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: $white-normal;

  p {
    text-align: center;
  }
}

footer div img {
  width: 100px;
  border-radius: 50%;
}

.footer-icons {
  display: flex;
  gap: 18px;
  color: $white-normal;
}

.btn-whatsapp {
  position: fixed;
  right: 24px;
  bottom: 14px;
  z-index: 99;

  img {
    max-width: 74px;
    transition: 0.5s;
  }

  img:hover {
    scale: 1.1;
  }
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: $black-normal;
  color: $white-normal;
  opacity: 0;
  transition: 0.3s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp {
    img {
      max-width: 64px;
    }
  }
}

// LOGIN

.roadmap-background{
    width: 100%;
    min-height: 100dvh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-image: url("https://img.freepik.com/free-photo/microphone-set-up-home-podcast-studio_60438-3821.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.roadmap-container {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  overflow-y: auto;
  height: 650px;
  width: 600px;
}

.roadmap-container * {
  color: white;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.roadmap-container h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  margin-bottom: 3rem;
}

.personal-roadmap{
  background-color: #70707072;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
}

@media (max-width: 768px) {
  .roadmap-container {
    width: 450px;
    height: 630px;
  }
}
